#navbarestilos{
    display: flex;
    justify-content: space-around;
    justify-items: flex-end;
    font-size: 30px;    
    background-color: navy;

}

#cuerpo{
    display: flex;
    flex-direction: column;
    color: white;
    font-weight: bold;
    background: rgb(38, 93, 135);        
}



#cuerpo h3{
    color: black;
    font-weight: bolder;
    font-size: 30px;
}

#tarjeta{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: bolder;
    background: lightblue;        
}

#itemCount{
    display: flex;
    flex-direction: column;
}

#contador{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}