#navbarestilos{
    display: flex;
    justify-content: space-evenly;
    justify-items: flex-end;
    font-size: 30px;    
    background-color: aqua;
}

#cuerpo{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: gray;
    background: rgb(242,143,0);        
}
#cuerpo h3{
    color: black;
    font-weight: bolder;
    font-size: 30px;
}

#tarjeta{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: bolder;
    background: lightblue;        
}